<div id="container" class="oneCol">
  <div class="inner">
    <div id="main" class="eyecatch">
      <div class="eyecatch section">
        <div class="eyecatchTxt">
          <p class="eyecatchTit">今日のランチを提案してくれるサービス</p>
						<p class="mB20">行きたいお店のリストはあるのに、結局いつものお店に行ってしまうあなたへ。</p>
						<p>気になるお店を登録すれば、<br />あなたに代わってその日のお店を提案してくれます。</p>
        </div>

        <div id="entryArea">
          <p class="txtC note">Facebookアカウントで登録できます。</p>
          <p class="txtC mB20">
            <script src="http://connect.facebook.net/en_US/all.js"></script>
            <script>FB.init({ xfbml:true });</script>
            <%- if devise_mapping.omniauthable? %>
              <%- resource_class.omniauth_providers.each do |provider| %>
                <%= link_to '登録する', omniauth_authorize_path(resource_name, provider), class: 'btn main' %>
              <% end -%>
            <% end -%>
          </p>
        </div>
      </div>
    </div><!-- // #main -->
  </div><!-- // .inner -->
</div><!-- // #container -->
