<div id="container" class="oneCol">
  <div class="inner">
    <div id="main">
      <h1 class="hdLv1">ランチに行ってみたいお店を登録しよう</h1>
      <div class="step">
        <dl>
          <dt>step1</dt>
          <dd>
          <p><a href="http://tabelog.com/">食べログ</a>から探す</p>
          <img src="#" alt="詳細画面のURLを取ります">
          </dd>
        </dl>
        <dl class="twoCol last">
          <dt>step2</dt>
          <dd>
          <%= form_for(@restaurant) do |restaurant| %>
            <p>
            <%= restaurant.text_field :url, id: 'shopUrl' %>
            <%= restaurant.submit id: 'shopUrlBtn', class: 'formBtn', value: '登録' %>
            </p>
            <p class="note">例 http://r.tabelog.com/tokyo/A1301/A130101/13002329/</p>
          <% end %>
          </dd>
        </dl>
      </div>
    </div><!-- // #main -->
  </div><!-- // .inner -->
</div><!-- // #container -->
